/* THis is toggle button */
/* THis all css are for bs but normal will be different */
input.han-togglebtn-checkbox {
    display: none;
}
label.han-togglebtn-toggler {
    display: block;
    width: 60px;
    height: 31px;
    border: 2px solid #4672fe;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}
span.han-togglebtn-ball {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #4672fe;
    border-radius: 50%;
    left: 1px;
    z-index: 10;
    transition: transform .5s ease-in-out;
}
span.han-togglebtn-ball{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* for the icon or text you need to use this name exactly */
.han-togglebtn-icon1 {
    position: relative;
    right: 1.4em;
    bottom: 15%;
    /* this is normal without bs
    right: 1.4em;
    bottom: 15%; */
}
.han-togglebtn-icon2 {
    position: relative;
    left: 2.2em;
    bottom: 105%;
    /* this is normal without bs
    left: 2.4em;
    bottom: 77%; */
}
.han-togglebtn-checkbox:checked + .han-togglebtn-ball {
    transform: translate(30px,-50%);
    /* normal x axie is 32px */
}