/* For global */
.hmtshow{
    display: block;
}

.hmthide {
    display: none;
}


#topbar {
    align-items: center;
    justify-content: center;
}

.home-wrapper {
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#greetone {
    padding: 20px;
}

#greettwo {
    font-size: 1.7em;
}

.similarword-list{
    text-align: center;
    background: aliceblue;
}
