/* For global */
.hmtshow{
    display: block;
}

.hmthide {
    display: none;
}


#topbar {
    align-items: center;
    justify-content: center;
}

#home .home-wrapper {
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home #greetone {
    padding: 20px;
}

#home #greettwo {
    font-size: 1.7em;
}

#jita-container .card-body {
    background-color: #c8def2;
}

#similarword-container .similarword-list{
    text-align: center;
    background: aliceblue;
}
